body{
    text-align: center;
}
main{
    margin: 0 30% 0 30%;
}
section{
    padding: 3% 5% 3% 5%;
    background-color: rgb(246, 231, 255);
    margin-bottom: 5%;
    border-radius: 10px;
    overflow:auto
}
.product-top{
    display:flex;
    justify-content: space-between;
    padding-bottom: 0px;
}
.product-name{
    font-size: 1.5rem;;
    float: left;
}
.product-price{
    background-color: rgb(255, 193, 184);
    padding: 5px;
    float: right;
    border-radius: 10px;
}

.product-description{
    padding-top: 10px;
    text-align: left;
    border-top: 2px dotted;
}